* {
    padding: 0px;
    margin: 0px;
    text-align: center;
}
body{
    background-color: rgb(9, 9, 35);
}

#nam{
    color: blueviolet;
    padding-top: 50px;
}

input{
    background-color: rgb(9, 9, 35);
    height: 50px;
    width: 500px;
    font-size: 30px;
    color: blueviolet;
    border-radius: 10px;
    border: 5px solid black;
}
button{
    background-color: rgb(9, 9, 35);
    height: 50px;
    width: 50px;
    color: blueviolet;
    border-radius: 10px;
    border: 5px solid black;
}
button:hover{
    cursor: pointer;
}